In [1]:
import logging
import pandas as pd
from csv import QUOTE_NONNUMERIC
from unicef_schools_attribute_cleaning.pandas.standardize_column_names import standardize_column_names
from unicef_schools_attribute_cleaning.pandas.dataframe_cleaner import dataframe_cleaner

# make INFO logs visible
logging.basicConfig(level=logging.INFO)

# src_df = pd.read_excel('../../data/UNICE_schools_raw_2020_Jun/Zimbabwe schools complete data.xlsx')
src_df = pd.read_csv('../../data/unicef_fixed/honduras_original_uuid.csv', low_memory=False)

src_df

,admin2,admin3,school_id,name,educ_level,environment,address,lon,lat,admin4,speed_connectivity,uuid
0,Atlántida,La Ceiba,10100001,ESCUELA GUADALUPE DE QUEZADA,Básica,Urbano,"BARRIO EL CENTRO, AVENIDA SAN ISIDRO",-91.48873,0.00001,NaN,NaN,fc3f885a-42c3-41d7-89a3-0a5749744e02
1,Atlántida,La Ceiba,10100002,JOSE CECILIO DEL VALLE,Básica,Urbano,BELLA VISTA,-86.78323,15.77059,NaN,NaN,cd2daa21-3eb6-4c74-ae0d-1bcd2da4160c
2,Atlántida,La Ceiba,10100004,AUGUSTO C COELLO,Básica,Urbano,B INGLES,-86.79567,15.78602,LA CEIBA,0.0,854f1c6b-439e-481a-b64b-b13613d2bea0
3,Atlántida,La Ceiba,10100005,JOSE TRINIDAD CABAÑAS,Básica,Urbano,LA MERCED,-86.78438,15.77758,LA CEIBA,0.0,339924bb-9877-4355-a924-464473041ed6
4,Atlántida,La Ceiba,10100006,GUSTAVO A CASTAÑEDA,Básica,Urbano,B MEJIA,-86.79670,15.77411,LA CEIBA,0.0,5058346b-e49e-4bb4-be97-d3bc17ed2449
...,...,...,...,...,...,...,...,...,...,...,...,...
17587,NaN,NaN,80100113,NaN,NaN,NaN,NaN,NaN,NaN,DISTRITO CENTRAL,4.0,6189ce1a-1a58-4daa-a03d-d738aab7e8b2
17588,NaN,NaN,80100203,NaN,NaN,NaN,NaN,NaN,NaN,DISTRITO CENTRAL,4.0,2b702549-49b5-467e-9ec7-e75084544016
17589,NaN,NaN,150300138,NaN,NaN,NaN,NaN,NaN,NaN,CATACAMAS,4.0,fb643ef4-1c83-440f-b243-5220dbaef926
17590,NaN,NaN,150300038,NaN,NaN,NaN,NaN,NaN,NaN,LAS MESETAS,4.0,f8a00e76-70ec-4ed8-ae00-961ce84519aa
17591,NaN,NaN,150100179,NaN,NaN,NaN,NaN,NaN,NaN,JUTICALPA,4.0,d0936043-4f68-4cd5-b709-b844a0ce61ce

In [2]:
df = dataframe_cleaner(dataframe=src_df, country_code='HN')
df

INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:adding 33 columns from schema: ['admin0',
 'admin1',
 'admin_code',
 'admin_id',
 'address2',
 'phone_number',
 'person_contact',
 'email',
 'postal_code',
 'altitude',
 'gps_confidence',
 'date',
 'num_students',
 'num_teachers',
 'connectivity',
 'type_connectivity',
 'latency_connectivity',
 'availability_connectivity',
 'num_computers',
 'type_school',
 'num_classrooms',
 'num_sections',
 'water',
 'electricity',
 'num_latrines',
 'description',
 'last_update',
 'tower_dist',
 'tower_type_service',
 'tower_type',
 'tower_code',
 'tower_latitude',
 'tower_longitude']
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:removing columns: ['school_id'] (not in School schema)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:17592 source rows -> 17534 cleaned rows

,country_code,admin0,admin1,admin2,admin3,admin4,admin_code,admin_id,name,address,...,description,last_update,tower_dist,tower_type_service,tower_type,tower_code,tower_latitude,tower_longitude,is_private,uuid
0,HN,None,None,Atlántida,La Ceiba,nan,None,None,ESCUELA GUADALUPE DE QUEZADA,"BARRIO EL CENTRO, AVENIDA SAN ISIDRO",...,None,None,None,None,None,None,None,None,True,fc3f885a-42c3-41d7-89a3-0a5749744e02
1,HN,None,None,Atlántida,La Ceiba,nan,None,None,JOSE CECILIO DEL VALLE,BELLA VISTA,...,None,None,None,None,None,None,None,None,True,cd2daa21-3eb6-4c74-ae0d-1bcd2da4160c
2,HN,None,None,Atlántida,La Ceiba,LA CEIBA,None,None,AUGUSTO C COELLO,B INGLES,...,None,None,None,None,None,None,None,None,True,854f1c6b-439e-481a-b64b-b13613d2bea0
3,HN,None,None,Atlántida,La Ceiba,LA CEIBA,None,None,JOSE TRINIDAD CABAÑAS,LA MERCED,...,None,None,None,None,None,None,None,None,True,339924bb-9877-4355-a924-464473041ed6
4,HN,None,None,Atlántida,La Ceiba,LA CEIBA,None,None,GUSTAVO A CASTAÑEDA,B MEJIA,...,None,None,None,None,None,None,None,None,True,5058346b-e49e-4bb4-be97-d3bc17ed2449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,HN,None,None,Yoro,Yorito,nan,None,None,RENE ALFREDO CHACON,"ALDEA LA ESPERANZA, CASERIO LOS HIGUERITOS, BA...",...,None,None,None,None,None,None,None,None,True,3f29fbfd-a5b2-43b8-8597-63d730a9d4ac
17540,HN,None,None,Yoro,Yorito,nan,None,None,LEMPIRA,"ALDEA LUQUIGUE, CASERIO LAGUNITA",...,None,None,None,None,None,None,None,None,True,ae246ebb-5ad6-46d1-b919-aa6a878533c7
17541,HN,None,None,Yoro,Yorito,nan,None,None,RENACER,"ALDEA LA ESPERANZA, CASERIO HIGUERO QUEMADO",...,None,None,None,None,None,None,None,None,True,3f56538a-99bd-46c5-b33f-d17c5993d7f9
17542,HN,None,None,Yoro,Yorito,nan,None,None,MANUEL DE JESUS CANTILLANO,COL.NUEVO PARAISO,...,None,None,None,None,None,None,None,None,True,9e066588-6996-403a-a958-d81faa3074a9
17543,HN,None,None,Yoro,Yorito,nan,None,None,CARITA DE CHOCOLATE,"LA UNION, YORITO",...,None,None,None,None,None,None,None,None,True,d9f73cf7-6633-468e-a076-b2d3f6d0773e

In [4]:
df[['connectivity', 'speed_connectivity']]

       connectivity  speed_connectivity
0             False                <NA>
1             False                <NA>
2             False                <NA>
3             False                <NA>
4             False                <NA>
...             ...                 ...
17539         False                <NA>
17540         False                <NA>
17541         False                <NA>
17542         False                <NA>
17543         False                <NA>

[17534 rows x 2 columns]

In [5]:
df.to_csv('honduras_cleaned.csv', quoting=QUOTE_NONNUMERIC, index=False)

In [6]:
# open in LibreOffice, Excel, other
!open honduras_cleaned.csv