In [1]:
import logging
import pandas as pd
from iso3166 import countries
from csv import QUOTE_NONNUMERIC
from unicef_schools_attribute_cleaning.pandas.standardize_column_names import standardize_column_names
from unicef_schools_attribute_cleaning.pandas.dataframe_cleaner import dataframe_cleaner

# make INFO logs visible
logging.basicConfig(level=logging.INFO)

In [2]:
src_df = pd.read_excel('../../data/UNICE_schools_raw_2020_Jun/Zimbabwe schools complete data.xlsx')
# src_df = pd.read_csv('../../data/unicef_fixed/zimbabwe_original_uuid.csv', low_memory=False)

src_df

,Schoolnumber,Name,SchoolLevel,Province,latitude,longitude,Tot_comp_Student,Enrolment,_tot_func_computers,connectiontype
0,1001,ADMIRAL TAIT,Primary,Harare,-17.8264,31.0897,27.0,2390,35,ADSL
1,1002,ALEXANDRA PARK,Primary,Harare,-17.7915,31.0557,26.0,983,50,None
2,1003,ALFRED BEIT PRIMARY,Primary,Harare,-17.7881,31,6.0,1784,9,ADSL
3,1004,ARDBENNIE,Primary,Harare,-17.8767,31.035,25.0,1240,29,ADSL
4,1005,AVONDALE,Primary,Harare,-17.7917,31.0341,221.0,1708,309,Fibre Optic
...,...,...,...,...,...,...,...,...,...,...
9620,1618,SUNNY DAY CHRISTIAN,Primary,Harare,(blank),(blank),12.0,154,14,Fibre Optic
9621,1950,PAGOMO PRIMARY,Primary,Manicaland,(blank),(blank),10.0,62,10,None
9622,4571,ZIMBABWE NATIONAL DEFENCE COLLEGE,Primary,Mashonaland Central,(blank),(blank),NaN,316,2,Fibre Optic
9623,14816,WASHINGTON HILLS HIGH SCHOOL,Secondary,Mashonaland West,(blank),(blank),30.0,331,33,Fibre Optic
9624,9326,PARKLANDS PRIMARY SCHOOL,Primary,Mashonaland West,(blank),(blank),0.0,486,1,None

In [3]:
country = countries.get('ZW')
df = dataframe_cleaner(dataframe=src_df, country=country)
df

INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:copying dataframe...
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:standardizing column names...
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:uuid column not found, generating uuid4
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:renaming columns: {'Enrolment': ('num_students', 'fuzzy match on alias column: enrollment 95%'),
 'Name': ('name', 'fuzzy match 100%'),
 'Province': ('admin2', 'alias exact match'),
 'SchoolLevel': ('educ_level', 'fuzzy match on alias column: school level 96%'),
 'Schoolnumber': ('description',
                  'fuzzy match on alias column: school number 96%'),
 '_tot_func_computers': ('num_computers',
                         'fuzzy match on alias column: tot_func_computers 97%'),
 'connectiontype': ('type_connectivity', 'alias exact match'),
 'latitude': ('lat', 'alias exact match'),
 'longitude': ('lon', 'alias exact match')}
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:adding 34 columns from schema: ['admin0',
 'admin1',
 'admin3',
 'admin4',
 'admin_code',
 'admin_id',
 'address',
 'address2',
 'phone_number',
 'person_contact',
 'email',
 'postal_code',
 'altitude',
 'gps_confidence',
 'date',
 'num_teachers',
 'connectivity',
 'speed_connectivity',
 'latency_connectivity',
 'availability_connectivity',
 'type_school',
 'environment',
 'num_classrooms',
 'num_sections',
 'water',
 'electricity',
 'num_latrines',
 'last_update',
 'tower_dist',
 'tower_type_service',
 'tower_type',
 'tower_code',
 'tower_latitude',
 'tower_longitude']
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:removing columns: ['Tot_comp_Student'] (not in School schema)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:filtering rows missing lat,lon...
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:validating each school row to the schema...
WARNING:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:1 validation error for School
__root__
  invalid lat,lon of 0,0 for name: IMPALI PRIMARY, uuid: 2101a027-8a77-4d7a-8c57-8ef583e65b49 (type=value_error)
WARNING:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:1 validation error for School
__root__
  invalid lat,lon of 0,0 for name: AMR SISTERS ROMAN CATHOLIC, uuid: 17918b4f-9ad8-4bf7-8d42-66c9254ecb08 (type=value_error)
WARNING:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:1 validation error for School
__root__
  invalid lat,lon of 0,0 for name: KUSILE GOVERNMENT PRIMARY, uuid: dc2b7c37-6666-401c-92fd-b58c21dc5a5b (type=value_error)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:lookup GADM areas by lat,lon...
INFO:unicef_schools_attribute_cleaning.geocoding.GADMLoader:cache hit for: https://biogeo.ucdavis.edu/data/gadm3.6/gpkg/gadm36_ZWE_gpkg.zip
INFO:unicef_schools_attribute_cleaning.geocoding.GADMLoader:converting geopackage file...
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:processing each lat,lon...
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:buffering location by 5.0km for school name=BUMHIRA, lat,lng=-17.88638,32.95592 https://www.openstreetmap.org/#map=18/-17.88638/32.95592 (uuid=30891724-670d-41c6-9ed8-7b76714f220d)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:buffering location by 5.0km for school name=CHAYAMITI, lat,lng=-19.6676,32.86055 https://www.openstreetmap.org/#map=18/-19.6676/32.86055 (uuid=524c9846-4ce4-4a58-8a75-50a29f954d92)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:buffering location by 5.0km for school name=DEMENI, lat,lng=-20.09132,32.92432 https://www.openstreetmap.org/#map=18/-20.09132/32.92432 (uuid=18d71454-8379-4780-a499-c96679bfebf8)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:buffering location by 5.0km for school name=MUKUMBURA, lat,lng=-16.2008,31.70187 https://www.openstreetmap.org/#map=18/-16.2008/31.70187 (uuid=5a4f3632-9057-4653-a500-c58570488dc9)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:buffering location by 5.0km for school name=GOMO, lat,lng=-16.30827,31.8467 https://www.openstreetmap.org/#map=18/-16.30827/31.8467 (uuid=c0b80603-c2ab-43f5-9ef3-e3e4ad836bfe)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:buffering location by 5.0km for school name=SINAMATELLA, lat,lng=-18.05964,26.61752 https://www.openstreetmap.org/#map=18/-18.05964/26.61752 (uuid=16ee604e-00da-4eae-8698-5c7ebbde6cd7)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:readying pandas data types...
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:9625 source rows -> 7919 cleaned rows

,country_code,admin0,admin1,admin2,admin3,admin4,admin_code,admin_id,name,address,...,description,last_update,tower_dist,tower_type_service,tower_type,tower_code,tower_latitude,tower_longitude,is_private,uuid
0,ZW,Zimbabwe,Harare,Harare,None,None,ZWE.2.1_1,"3.6,ZWE,GID_2=ZWE.2.1_1",ADMIRAL TAIT,None,...,1001,None,None,None,None,None,None,None,True,73f389c2-b94c-4b78-8da0-771dba074445
1,ZW,Zimbabwe,Harare,Harare,None,None,ZWE.2.1_1,"3.6,ZWE,GID_2=ZWE.2.1_1",ALEXANDRA PARK,None,...,1002,None,None,None,None,None,None,None,True,fa419bfc-c617-47f7-aea6-928e8aa5da1f
2,ZW,Zimbabwe,Harare,Harare,None,None,ZWE.2.1_1,"3.6,ZWE,GID_2=ZWE.2.1_1",ALFRED BEIT PRIMARY,None,...,1003,None,None,None,None,None,None,None,True,4a55f91e-b379-45cd-bf52-2aa38c9719c7
3,ZW,Zimbabwe,Harare,Harare,None,None,ZWE.2.1_1,"3.6,ZWE,GID_2=ZWE.2.1_1",ARDBENNIE,None,...,1004,None,None,None,None,None,None,None,True,32d26f0a-d5aa-42f2-a381-612fc35bc004
4,ZW,Zimbabwe,Harare,Harare,None,None,ZWE.2.1_1,"3.6,ZWE,GID_2=ZWE.2.1_1",AVONDALE,None,...,1005,None,None,None,None,None,None,None,True,fe92ee2e-5493-4474-9d5d-a61928e5544c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,ZW,Zimbabwe,Midlands,Chirumhanzu,None,None,ZWE.10.1_1,"3.6,ZWE,GID_2=ZWE.10.1_1",ORTONS DRIFT,None,...,17949,None,None,None,None,None,None,None,True,0e9ec529-016a-4629-9a2e-a1850c53bbcb
8267,ZW,Zimbabwe,Midlands,Chirumhanzu,None,None,ZWE.10.1_1,"3.6,ZWE,GID_2=ZWE.10.1_1",UTAH,None,...,17951,None,None,None,None,None,None,None,True,7dfa4aa2-f357-4e09-ab3a-163897062e9a
8268,ZW,Zimbabwe,Midlands,Kwekwe,None,None,ZWE.10.5_1,"3.6,ZWE,GID_2=ZWE.10.5_1",MAYWOOD,None,...,17981,None,None,None,None,None,None,None,True,eb1f344c-50cf-4f51-b428-80c5431f2669
8269,ZW,Zimbabwe,Midlands,Gweru,None,None,ZWE.10.4_1,"3.6,ZWE,GID_2=ZWE.10.4_1",MELROSE,None,...,17982,None,None,None,None,None,None,None,True,cd58e27f-b51f-49ba-98ce-fa3e1eefa033
8739,ZW,Zimbabwe,Matabeleland North,Nkayi,None,None,ZWE.8.5_1,"3.6,ZWE,GID_2=ZWE.8.5_1",DABE SECONDARY SCHOOL,None,...,12974,None,None,None,None,None,None,None,True,a7305276-8c28-46e3-860a-d04b74ef8b6c

In [4]:
df.to_csv('zimbabwe_cleaned.csv', quoting=QUOTE_NONNUMERIC, index=False)

In [5]:
# open in LibreOffice, Excel, other
!open zimbabwe_cleaned.csv